<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
<!-- 아이디, 비번, 이름, 전화번호 -->
        <form action="/joinform" method="post">
            <input type="text" name="uid" id="uid" placeholder="아이디 입력"><br>
            <input type="password" name="upw" id="upw" placeholder="비번 입력"><br>
            <input type="text" name="unm" id="unm" placeholder="이름 입력"><br>
            <input type="tel" name="utel" id="utel" placeholder="전화번호 입력"><br>
            <input type="submit" value="회원가입">
        </form>
    </body>
</html>