<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    아이디 : {{ user.uid }}<br>
    비밀번호 : {{ user.upw }} <br>
    이름 : {{ user.unm }}<br>
    전화번호 : {{ user.utel }}<br>
</body>
</html>